@using Webbansach.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<GIAY>

@{
    ViewBag.Title = "SearchData";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<h2>TÌM KIẾM GIÀY</h2>

<div class="row">
    @foreach (var giay in Model)
    {
        <div class="col-md-3">
            <div class="thumbnail">
                <a href="@Url.Action("Chitietgiay", "SneakerStore", new { id = giay.Magiay })">
                    <img alt="@giay.Tengiay" src="~/Hinhsanpham/@giay.Anhbia" width="200" />
                    <div>
                        <br />
                        <h4 style="text-align:center">
                            @giay.Tengiay
                        </h4>
                        <p></p>
                    </div>
                </a>
                <h4 style="margin-left: 10px; color: red;"><b>@(Convert.ToInt32(giay.Giaban).ToString("#,##")) VNĐ</b></h4>
                <div class="ratings">
                    <p class="pull-right">15 reviews</p>
                    <p>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star">
                        </span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                        <span class="glyphicon glyphicon-star"></span>
                    </p>
                </div>
            </div>
        </div>
    }
</div>

<div>
    Trang @(Model.PageNumber>Model.PageCount?3:Model.PageNumber) /@Model.PageCount
</div>
<div class="Menutrang">
    @Html.PagedListPager(Model, page => Url.Action("SearchData", new { tuKhoa = ViewBag.TuKhoa, page = page }))
</div>

<style>
    .Menutran li {
        display: inline
    }
</style>